.annimation{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px dashed;
    color: rgb(0, 102, 255);
    margin: 10%;

animation:animer 3s infinite;
}
@keyframes animer{
    0%{
        transform: rotate(0deg);

    }
    50%{
        transform: rotate(120deg); scale: 3;
        color: brown;
        background-color: blue;

    }
    70%{
        transform: scale(1); rotate: 90deg;
        color: green;
        border: 5px dotted;
    }
    100%{
        transform: rotateX(60deg); scale: 1;
        border-top: none;
    }
    


} 
.load{
    border: solid 2px red;

}
.progression{
    background-color: red;
    height: 10vh;
    width: 0;
    animation: numedev 10s infinite;
}
@keyframes numedev{
    20%{
        width: 20%;    
    }
    40%{
        width: 40%;
        background-color: rgba(137, 43, 226, 0.562);
    }
    70%{
width: 70%;
background-color: chartreuse;
    }
    100%{
        width: 100%;
        background-color: darkcyan;
    }

}
   